[2015-07-06 10:59] ghost opened #2 "Weird layout issue on some posts"
On some posts (and this happens randomly) the layout holding the comments is pushed down and seems to overlap randomly.

screenshot from a Samsung Galaxy Core Prime LTE (SM-G360F) Android version 5.0.2 (Polish release from 2015-05-11)
![screenshot_2015-07-04-17-05-31](https://cloud.githubusercontent.com/assets/11539737/8520827/4fc9d7c6-23de-11e5-9792-c43b4ed9d1af.png)

[2015-11-08 18:16] tjerkw opened #3 "License?"
I want to contribute, but what is the license? Open source?

[2015-11-08 18:16] tjerkw commented on #3
License

[2015-11-08 18:17] tjerkw opened #4 "Instant crash on oneplusone"
Open a video -> crash. Will add stacktrace later.

[2015-11-09 08:44] jariz commented on #4
I'm a aware of this issue, unfortunately have not had time to check it out. Appears to fail to get the proper url for the comments.
Stacktrace:
[code]

[2015-11-09 08:48] #3 closed

[2015-11-15 21:22] KeizerDev opened #6 "Cannot find drawable when building the project"
Cannot find `@drawable/ic_action_search`, did you forgot to commit it?

[2015-12-01 21:30] GijsTimmers opened #7 "Can't download Dumpert Reader from Play Store"
https://play.google.com/store/search?q=dumpert%20reader

doesn't give any results.

Can I download the APK somewhere else?

Also: https://play.google.com/store/apps/details?id=io.jari.dumpert&hl=nl still works, which is strange.

[2015-12-01 21:30] GijsTimmers commented on #4
Happened to me too. Using a MT6592 device. I see that a fix has been committed; is there any way to upgrade?

[2015-12-01 23:32] jariz commented on #7
Yeah, GeenStijl requested me to take it down. All I can say is that they
have good reasons.
On Dec 1, 2015 22:30, "GijsTimmers" <notifications@github.com> wrote:

[2015-12-01 23:32] #7 closed

[2015-12-01 23:34] jariz commented on #4
Hasn't been fixed. Still needs one.

[2015-12-02 10:07] GijsTimmers commented on #7
That's a shame. Will this repo stay up?

[2015-12-09 10:24] CytoDev commented on #2
My account is migrated over to this one. This is still an issue on some posts. The weird thing is that it is not reproducible when in a debug build.

[2015-12-09 16:59] KeizerDev commented on #6
PR #8 will fix this and the merge tonight will close this.

[2015-12-09 16:59] #6 closed

[2015-12-10 08:47] CytoDev opened #9 "Videos hosted on YouTube cannot be played"
As you can see, a regular video (probably hosted at Dumpert or GeenStijl) plays just fine. ![screenshot_2015-12-10-09-34-16](https://cloud.githubusercontent.com/assets/5646869/11710779/f4c41f48-9f21-11e5-8e63-4b66d5446e48.png)
but one hosted at YouTube does not.
![screenshot_2015-12-10-09-34-24](https://cloud.githubusercontent.com/assets/5646869/11710844/98992f28-9f22-11e5-9bc6-73bc6c6fb746.png)

[2015-12-10 08:49] KeizerDev opened #10 "App reloads when playing in fullscreen mode"
Fullscreen mode doesn't work in build #8 on One Plus X (@CytoDev)

[2015-12-10 08:53] CytoDev commented on #7
@GijsTimmers, you can download the current test build from [my pre-release](https://github.com/CytoDev/Dumpert/releases/tag/1.1.3). It does not have the fixes introduced in [#5747455](https://github.com/CytoDev/Dumpert/commit/574745583054283737f78e74e1c21de8760a3442), so text on the cards renders white on white.

Since it isn't signed with the same key the original app is you will be prompted to p

[2015-12-10 08:54] CytoDev commented on #10
Any logs?

[2015-12-10 09:30] KeizerDev commented on #10
[code]

[2015-12-10 09:31] KeizerDev commented on #10
Yeah, wait. The videoplayer now sucks for me. Let's use https://github.com/xiongwei-git/AndroidVideoPlayer

[2015-12-10 09:39] CytoDev commented on #10
Great... I just fixed it...

[2015-12-10 10:01] KeizerDev commented on #10
Yeah, I was actually planning to just move it to another player and make it more dependency based.
For example the drawer, can be like https://github.com/mikepenz/MaterialDrawer and we can use https://github.com/jtribe/shelly for intents

[2015-12-10 10:26] CytoDev commented on #10
The reloading problem should have been fixed with [#5791190](https://github.com/CytoDev/Dumpert/commit/57911902647740e6da1acd3ab57c6229af3ba1ac), but videoView resolves to null. Which is probably a stupid error on my part though.

[2015-12-10 11:47] GijsTimmers commented on #7
Works. Thank you very much.

[2015-12-10 11:50] KeizerDev commented on #10
@CytoDev Let's just move it to the other videoplayer I mentioned above, it will handle all the stuff that's needed to be and will keep the code clean. I'll implemented it now if you agree with it.

[2015-12-10 11:53] jariz opened #11 "Rebrand"
Op last van GeenStijl is de app nu offline gehaald uit de play store (door mijzelf).
We kunnen hem pas weer launchen als de app een nieuwe naam heeft en het logo van dumpert niet meer gebruikt (of tenminste in een iets meer subtiele manier).
Eventuele ideen voor een nieuwe naam / nieuw icoon zijn welkom.

[2015-12-10 11:56] jariz commented on #7
Repo will stay up, see #11 for future plans.

[2015-12-10 11:56] KeizerDev commented on #11
`Dumbpret`

[2015-12-10 12:00] GijsTimmers commented on #11
Het icoon is nu min of meer een kroon. Vervangen door een ander hoofddeksel? Pet, carnavalssteek, ...

[2015-12-10 12:02] CytoDev commented on #10
Take a look at my last commit and decide if it is really necessary. The video player is finally working as intended, and issue #9 should be a breeze to implement now. Still, the other player looks really nice. But wouldn't it be overkill for such a simple feature? Most of the videos on Dumpert aren't even _that_ high definition.

[2015-12-10 12:05] jariz commented on #10
The only real advantage I'm seeing in that other player is the quality switch, which can already be done through the preferences of the app. Seems like way too much of an hassle, especially if this reloading video issue is fixed now.

[2015-12-10 12:06] CytoDev commented on #11
Je zou het icoontje [hier](http://gscdn.nl/dump/images/desktop_header.jpg) van kunnen afleiden. Mensen weten gelijk wat er bedoelt wordt, en je schendt niemands auteursrecht.

[2015-12-10 12:08] CytoDev commented on #2
This issue has not happened since [#930b820](https://github.com/CytoDev/Dumpert/commit/930b8201e2b33cff325d3fdc8a2a51cb3a34b9cf). Close the issue, @jariz?

[2015-12-10 12:09] KeizerDev commented on #10
I see some more advantage.
Like now, when I'm starting the video and decide to switch to fullscreen halfway the video it needs to be buffered again and starts over.
Further, when the video is buffering and I lock my phone it just plays while my phone is off.

[2015-12-10 12:13] KeizerDev commented on #11
Laten we dat als profiel/account achtergrond gebruiken (https://raw.githubusercontent.com/mikepenz/MaterialDrawer/develop/DEV/github/screenshots1.jpg) en dus ook dat te implementeren.

[2015-12-10 12:16] #10 closed

[2015-12-10 12:19] #2 closed

[2015-12-10 12:23] jariz commented on #11
@KeizerDev first things first :stuck_out_tongue:
We hebben nu nog niet eens account management erin zitten en ik zie een rebrand liever zien gebeuren voordat we dat hebben.

[2015-12-10 12:45] CytoDev commented on #11
Inloggen en commentaar plaatsen is ook een verhaal appart. Registratie loopt via geenstijl, en je hebt koekjes gebakken en wel nodig om commentaar te leveren op dumpert.

Een hele library heb je tevens niet langer nodig. Als je in Android Studio een nieuwe activiteit aan maakt kan je een navdrawer laten maken conform de regeltjes van google.

Ik heb er eventueel nog wel eentje rond slingeren.

[2015-12-10 13:15] CytoDev commented on #4
@jariz, I believe this one can be closed.

[2015-12-10 13:39] CytoDev commented on #9
YouTube embed urls are correctly passed to `itemInfo.media`. ([#47684ac](https://github.com/CytoDev/Dumpert/commit/47684ace7b8c5ba10b5e0d80af4ac98962724fd9))

No idea how to allow YouTube videos to be played by the video player though, since they're not linking to files as far as I can see.

Any takers?

[2015-12-10 18:05] jariz commented on #4
Fixed in 1.1.4

[2015-12-10 18:05] #4 closed

[2015-12-10 18:06] jariz commented on #9
@cytodev I'll take a look soon

[2015-12-11 09:27] GijsTimmers commented on #11
Eventueel als logo: een afvoerputje. Past bij de naam, en ook bij de inhoud :laughing:

[2015-12-14 16:03] CytoDev commented on #9
Here's the readable format of the YouTube page received when going to the embed url. I can't really find a straight video link, but it's probably somewhere in the base64 encoded data.

[code]

[2015-12-14 19:19] CytoDev commented on #9
@jariz, you can close the issue if you agree with my commit.

[2015-12-16 12:27] CytoDev opened #13 "Default charset of dumpert is not UTF-8"
This is the result of parsing iso-8859-1 as UTF-8.
![screenshot_2015-12-14-23-10-26](https://cloud.githubusercontent.com/assets/5646869/11840735/72105f36-a3f8-11e5-8d66-394d4cd31a48.png)

[2015-12-16 12:30] jariz commented on #13
Fixed in #12

[2015-12-16 12:30] #13 closed

[2015-12-16 12:30] jariz commented on #9
Fixed in #12

[2015-12-16 12:30] #9 closed

[2015-12-16 12:32] jariz commented on #11
@CytoDev ik heb lang, lang geleden een shitty implementatie geschreven voor inloggen op een GS-website.
Interessant maybe?
https://github.com/jariz/GeenStijl/blob/master/src/io/jari/geenstijl/API/API.java#L276

Anyway, we raken een beetje offtopic. :stuck_out_tongue:

[2015-12-16 12:39] CytoDev opened #14 "Login and better navigation drawer."
Starting this feature request to keep the [Rebrand](https://github.com/jariz/Dumpert/issues/11) thread clean.

[2015-12-16 12:39] CytoDev commented on #11
@jariz, je kan een feature request maken van issue #14. Ik zal er dan gelijk even op duiken. Kan dit draadje weer verder met de rebrand.

[2015-12-16 12:41] jariz commented on #14
Keep in mind that the UI for account management is already part of the library that is being used right now.
https://github.com/neokree/MaterialNavigationDrawer/wiki/Accounts

[2015-12-16 12:49] CytoDev commented on #14
Dumpert does not use avatars. This would mean the clickable area in an account switcher is going to be confined to a spinner. Besides, an account switcher enables (and encourages) people to have/create multiple accounts. I would suggest handling accounts in a similar way the [reddit is fun](https://github.com/talklittle/reddit-is-fun) app by talklittle does.

The first thing I'm going to do right

[2015-12-23 22:58] GijsTimmers opened #15 "[Request] A portrait full screen mode for VVS videos"
Currently, the full screen button will make the video run in full screen, in landscape mode. Sadly, a lot of videos uploaded to Dumpert are recorded vertically. If I press the full screen button on those videos, the vertical video will be displayed in landscape mode, and remain pretty small. My request is to develop some sort of portrait full screen button so that VVS videos can be appreciated as

[2016-01-04 14:39] CytoDev commented on #15
@GijsTimmers: This is doable by querying the height and width of the video and rotating it accordingly. Will test this tonight with [this video](http://media.dumpert.nl/tablet/91325e34_Zelfbouw_slimme_spiegel.mp4.mp4.mp4). Thankfully this is easily implemented since we're using [Android's "native" MediaPlayer](https://github.com/jariz/Dumpert/blob/master/Dumpert/src/main/java/io/jari/dumpert/activ

[2016-01-05 07:55] CytoDev commented on #14
Logging in _seems_ to work if I believe my connection details at the moment. Dumpert just does not recognise my attempt as valid since it does not send back my commenter name and token. (Also checked and not banned from Dumpert)

logcat only outputs the message at [line 330](https://github.com/CytoDev/Dumpert/blob/dev/Dumpert/src/main/java/io/jari/dumpert/api/Login.java#L330).

[2016-01-05 10:19] jariz commented on #14
Wat ik me kan herinneren is dat [dit gedeelte](https://github.com/jariz/GeenStijl/blob/master/src/io/jari/geenstijl/API/API.java#L267-L272) heel belangrijk was, want hij moest cookies automatisch accepteren en in de jar stoppen (ook tussen redirects etc.).
Heb je al geprobeerd die url waar je heen gestuurd wordt gewoon te volgen? Waarschijnlijk stuurt die je weer door naar app.steylloos.nl ?
Check

[2016-01-05 10:26] jariz opened #16 "White text on settings activity"
Only showing on the settings activity, but still pretty unreadable.
Happens on all themes.

[2016-01-05 10:28] jariz opened #17 "Instant crash when opening ImageActivity"
Stacktrace coming soon™....
Tested on Nexus 5 running 6.0.1

[2016-01-05 15:18] CytoDev commented on #16
already fixed.

[2016-01-05 15:22] CytoDev commented on #17
Hm... Never had this issue. Not on emulator nor real phone. Although I'm a few versions ahead... xD

[2016-01-05 15:23] CytoDev commented on #16
Error info alertdialogs also feature white on white text. I believe it has something to do with the navigation library. Since the last update on their side text started acting weird, and this app does extend it's theme.

[2016-01-05 15:34] CytoDev commented on #14
@jariz
Redirects [worden gevolgd](https://github.com/CytoDev/Dumpert/blob/dev/Dumpert/src/main/java/io/jari/dumpert/api/Login.java#L304-L313) en cookies worden opgespaard... Alhoewel, er staan een aantal vreemde dingen op die regels die ik hoogstwaarschijnlijk niet met vol verstand heb getypt...

En ik had het zelfs nog kunnen zien als ik de logcat iets beter had bestudeerd:

    01-05 16:31:36.51

[2016-01-06 19:12] CytoDev commented on #14
Login functionality is working now. see [#11a8213](https://github.com/CytoDev/Dumpert/commit/11a82132c82ad327cfc77f2a3b6ad1e2ccbcf094).

@jariz how do you want to implement the login UI and how do you want to use the functionality?
Commenting on items has come one step closer. :tada:

[2016-01-06 21:38] jariz commented on #15
@CytoDev maybe file a PR?

[2016-01-06 22:15] GijsTimmers commented on #15
It works! Very nice, and thank you.

![screenshot_2016-01-06-23-12-04](https://cloud.githubusercontent.com/assets/972314/12156431/368ecbda-b4cb-11e5-97c4-e7eb46e7b1b2.png)

[2016-01-06 22:19] jariz commented on #14
@CytoDev Yea, they can do that on the GS site as well, I'd suggest taking out password reset and registration for now.
Do you want write access to this repo so we don't have to pass around PR's etc (you're going so fast, I can't keep up lol) because that would probably also make it easier to work from a separate branch together on the login feature.

[2016-01-06 22:29] GijsTimmers opened #18 "Rename video quality options"
Running Dumpert Reader f7c28ea5b19adbaa43c7bf3b85d18fa485c44d74.

Menu > Settings > Video quality

Currently, there are two options:

- HQ
- HD

I take it that _HQ_ stands for _High Quality_ and _HD_ stands for _High Defintition_. That said, I have no idea which one I have to choose to get the best video quality

Proposal: rename _HQ_ / _HD_ to _High_ / _Medium_ (or something like that)

[2016-01-06 22:37] GijsTimmers opened #19 "DR starts playing video after locking the screen"
Running Dumpert Reader f7c28ea5b19adbaa43c7bf3b85d18fa485c44d74 on Kitkat.

How to reproduce:

1. Open a video
2. (Video starts playing automatically)
3. Press the full screen button in the bottom right of the screen
4. Pause the video
5. Press the lock screen button

Now, Dumpert Reader will continue playing the video while the screen is off.

[2016-01-07 08:42] GijsTimmers commented on #17
Happens to me too on f7c28ea5b19adbaa43c7bf3b85d18fa485c44d74, on stock Kitkat.

[2016-01-07 08:48] jariz commented on #17
Thanks @GijsTimmers. Knew I wasn't crazy :stuck_out_tongue:
Stacktrace:
[code]

[2016-01-07 09:01] jariz commented on #16
This is indeed fixed now (merged your dev branch into master just now)

[2016-01-07 09:01] #16 closed

[2016-01-07 09:01] jariz commented on #17
Nvm, indeed fixed in @CytoDev's branch which was just merged now.

[2016-01-07 09:07] #15 closed

[2016-01-07 09:13] #18 closed

[2016-01-07 09:14] jariz commented on #18
Great idea, I can totally see why that would be confusing, just added it.

[2016-01-07 09:16] CytoDev commented on #19
I am aware of this bug. This seems to happen when the system decides to recycle the activity or free up resources.

[2016-01-07 09:24] KeizerDev commented on #18
Thereby we have a lot more qualities to choose from:
[code]

So I suggest to choose a default quality in the settings and an extra option in the player itself to change the quality on the fly.

[2016-01-07 09:26] KeizerDev commented on #18
So lets pretend that
[code]

[2016-01-07 09:34] jariz opened #20 "Finish reload button on video error snackbar"
The button's there but doesn't do anything yet. (VideoActivity.java:135)

[2016-01-07 09:35] CytoDev commented on #18
@KeizerDev I wouldn't suggest 360p for mobile. Most modern phones have at least a 480p compatible screen. I would say low quality could be 360, but then again, who wants to watch low quality videos?

[2016-01-07 09:37] CytoDev commented on #20
Just put that there to have at least a way to reload the video (and if it works other elements). It doesn't work yet because I don't know how to reload the fragment and keep the data it's supposed to have.

[2016-01-07 09:39] jariz commented on #20
Yea, I figured, just wanted to make sure we don't forget about it.

[2016-01-07 09:42] KeizerDev commented on #18
@CytoDev I mean, `mobile` is equals to 360p and `tablet` to 480p, look at the player quality options (http://www.dumpert.nl/mediabase/6709042/6066c68f/dumpertreeten_%2836%29.html). Imho I do like to see *360p* instead of *low quality*.

[2016-01-07 09:42] KeizerDev commented on #18
And when on mobile network it would be cool to set your preferred quality and change it on the fly.

[2016-01-07 09:51] CytoDev commented on #14
@jariz Moved login to branch login. Removed button from master.

[2016-01-07 10:00] CytoDev commented on #11
@jariz why not use a new label [General Discussion]? You're just doubling the tags now :laughing:

[2016-01-07 10:10] GijsTimmers commented on #17
Still happens on my device.

[`adb logcat | grep 2180` output](http://paste.ubuntu.com/14428927/)

[2016-01-07 10:17] jariz commented on #17
Lol you're right. it's happening again here as well.
It only happens when you're using a theme that isn't the default (green) it seems!

[2016-01-07 10:19] jariz commented on #11
Fair enough.

[2016-01-07 10:21] CytoDev commented on #17
I might have...

[2016-01-07 10:42] CytoDev commented on #17
Previous commit to themeFix branch should fix this issue, or at least stop from crashing. We can work from there.

[2016-01-07 10:44] CytoDev commented on #17
![works-on-my-machine-starburst](https://cloud.githubusercontent.com/assets/5646869/12168649/f0788f00-b533-11e5-8008-b29c43ae1058.jpg)

[2016-01-07 10:58] GijsTimmers commented on #17
![screenshot_2016-01-07-11-56-06](https://cloud.githubusercontent.com/assets/972314/12168964/eebde140-b535-11e5-9408-065b27218b0c.png)

[2016-01-07 10:59] CytoDev commented on #20
Is there any reason why we currently use a third party snackbar? Can't seem to find backwards-compatibility issues with the one in the Google design libs...

[2016-01-07 10:59] CytoDev commented on #17
I take it it is working then.

[2016-01-07 10:59] #17 closed

[2016-01-07 11:00] jariz commented on #20
Google didn't have a design library yet when I started working on this, same reason I used a 3rd party navdrawer.

[2016-01-07 11:03] CytoDev commented on #20
Check the latest commit in snackBar and see if you like it. You can test it by searching for "fapvoer" and clicking any video (I disabled NSFW video loading to test this).

[2016-01-07 11:42] CytoDev commented on #20
Should all be finished in [#6b3b4d2](https://github.com/jariz/Dumpert/commit/6b3b4d2262ccc9d836844856ae00c6e34c1ca4ca). Please double check it @jariz

[2016-01-07 12:17] CytoDev commented on #20
Can't get the error alertdialog to grab the right colours though...

[2016-01-07 12:22] jariz commented on #20
Maybe create a separate issue for that? Reload button works fine for me (which is the scope of this ticket), so I merged it.

[2016-01-07 12:22] #20 closed

[2016-01-07 12:24] CytoDev commented on #20
I don't see the merge though...

[2016-01-07 12:24] jariz commented on #20
@CytoDev look again! 🙈

[2016-01-07 12:25] CytoDev opened #22 "AlertDialog displays with white colors dispite being told to use a custom theme"
Pretty much sums it up.

[2016-01-07 12:27] CytoDev commented on #20
Everything's up to date now yeh? I always seem to stop doing the thinky thing when multiple branches get merged...

[2016-01-07 12:29] jariz commented on #20
Yes. I should file a PR in the future like you did with themeCrash, makes it more clear, but yes it is.

[2016-01-07 12:30] CytoDev commented on #20
Cool. I'll take a look at the video reloading now then.

[2016-01-07 13:00] CytoDev commented on #19
@GijsTimmers can you test with my fix please?

[2016-01-07 13:04] GijsTimmers commented on #19
Sure. I'll report back asap.

[2016-01-07 13:13] GijsTimmers commented on #19
Works!

[2016-01-07 13:15] CytoDev commented on #19
Nice!

[2016-01-07 13:15] #19 closed

[2016-01-07 13:24] CytoDev opened #24 "Items without comments should have a "nothing to display" message."
I encountered a few a while ago, and it's confusing when comments don't show up.

[2016-01-07 14:10] CytoDev commented on #24
Fixed by [#c8cc1a1](https://github.com/jariz/Dumpert/commit/c8cc1a16d915aad25261630e44939194622ca66c)

[2016-01-07 14:10] #24 closed

[2016-01-07 15:02] GijsTimmers opened #26 "Open www.dumpert.nl/* urls in DR"
At the moment, DR cannot directly open urls that start with www.dumpert.nl.

! [Imgur](http://i.imgur.com/sZIuPYo.jpg)

It would be nice if it could.

[2016-01-07 15:04] CytoDev commented on #26
Agreed. Easily implemented, but hard to filter out as far as I can see. There needs to be a single entry point for all items...

Another thing to note is that those links you see floating around in the comments literally link to what they say. Full urls are not followed.

[2016-01-07 15:17] CytoDev commented on #22
This bug can be tracked down to the MaterialNavigationDrawer used in the app. I suggest moving away from it, or using a dark theme for the AlertDialog.

@jariz, thoughts?

[2016-01-07 15:21] CytoDev opened #27 "[TRANSLATION] Not all strings are currently available in both languages."
Since I don't always translate all the strings over when working on things.

[2016-01-07 16:06] CytoDev commented on #22
I got it working by changing the theme of the application to `Theme.Dumpert` instead of `Theme.Dumpert.Drawer`. The only downside is... Well, see for yourself:
![device-2016-01-07-170435__alert_working](https://cloud.githubusercontent.com/assets/5646869/12175141/f7a27d7c-b560-11e5-9762-98f6f1fae4dc.png)
![device-2016-01-07-170435__alert_downside](https://cloud.githubusercontent.com/assets/5646869/

[2016-01-07 16:18] CytoDev commented on #22
I think the only feasible way of fixing this issue is to implement the navigation drawer from the AppCompat library... Or removing the error message, but I don't think that's such a good idea.

[2016-01-07 16:28] jariz commented on #22
Yea, we need to get rid of that annoying deprecated library eitherway, so +1 to getting rid of it and replacing it with design library.
I suggest doing this after the re-release though, and showing a dark dialog as a 'fix' until we fix it properly.

[2016-01-07 16:29] CytoDev commented on #22
@jariz Are you in a rush to the milestone? I can implement the drawer by the end of this weekend. Give or take a few minor bugs that are part of the migration and can be easily fixed.

[2016-01-07 19:27] jariz commented on #22
@CytoDev Not in a rush, just wanna launch it soon.
If you think by the end of this weekend it can be done, then it's fine by me.

[2016-01-07 21:39] CytoDev commented on #22
Closed by [#f0b2845](https://github.com/jariz/Dumpert/commit/f0b2845cd104ce4c4d3afd568e98108729cca096).

[2016-01-07 21:39] #22 closed

[2016-01-07 21:47] CytoDev commented on #14
@jariz New navigation drawer is finished. Now it's just a matter of fixing the bugs that are left over by the old one, and implementing the login api from the login branch. I also removed the about section from the navigation drawer, and moved the settings to an overflow menu. I will put the about section in a sub-category in the preferences, along with a disclaimer and licenses.

All in all, I ga

[2016-01-08 08:15] CytoDev commented on #14
Will be closed by upcoming merge on newNavDrawer branch.

Previous comment can become it's own future development thread afterwards.

[2016-01-08 09:26] GijsTimmers commented on #27
I can probably help here, in a couple of weeks.

[2016-01-08 09:42] GijsTimmers opened #29 "On the usefulness of landscape mode for videos"
Disclaimer: I'm using a 720x1280 px screen, so your mileage may vary.

At the moment, there are four modes of playing videos

- Portrait mode
- Portrait mode, fullscreen (the new feature)
- Landscape mode
- Landscape mode, fullscreen

I don't know about you, but I don't consider the third mode to be very useful. The amount of screen real estate is very much reduced. From top to bottom:

![screensh

[2016-01-08 10:19] GijsTimmers opened #30 "Please disable phone number detection in comments"
At the moment, dates in comments are sometimes recognised as being phone numbers:

![screenshot_2016-01-08-11-15-06](https://cloud.githubusercontent.com/assets/972314/12195684/4a347250-b5f9-11e5-821f-ff8fa46dd4aa.png)

The numbers get underlined, which which gives the illusion that it's something important.

Request: please disable this. [This question on Stack Overflow](http://stackoverflow.com/q

[2016-01-08 11:02] GijsTimmers opened #33 "Follow usernames in comments."
This may be pretty hard to implement. I don't think that this one is really necessary but it would be a nice feature to set DR apart from the official Dumpert app.

Every so often, users respond to each other in comments. Or they may mention another user. Request: when a username gets detected, make it 'clickable'. When clicked, scroll the comments section to that comment.

[2016-01-08 13:15] #14 closed

[2016-01-08 13:17] CytoDev commented on #29
I for one, __hate__ landscape mode. Seriously, F auto-rotation and everyone who uses it.

[2016-01-08 13:18] CytoDev commented on #33
Should be doable. If the corresponding list of comments has actual references.

[2016-01-08 13:19] jariz commented on #29
I say we force portrait on that activity. Not worth the effort optimizing it for landscape for those few that use portrait.

[2016-01-08 13:19] CytoDev opened #34 "Topexception handler."
Perhaps it would also be a good idea to implement a top exception handler and prevent all future crashes? I did it before, so it shouldn't be that hard to do it again. It would require an intent to send the collected data to "The developers" though...

[2016-01-08 13:20] CytoDev opened #35 "Interacting with Dumpert."
Commenting/replying/voting/etc.

I'll be working on it in the newNavDrawer branch.

The new drawer is done, bytheway.

[2016-01-08 13:21] jariz commented on #34
1. Crashes happen for a reason, it's because the exception is unhandled, which is something that generally only happens when things went really far south.
2. This would prevent people from reporting errors to the play store.

Generally, I don't like this idea.

[2016-01-08 13:24] CytoDev commented on #34
Most crashes are unnecessary though. Some activities crash when the server does not respond with the answer that is built in to be parsed.

Agreed that exceptions should be caught over there though.

[2016-01-08 13:25] CytoDev commented on #34
I hate the mobile github layout...

[2016-01-08 13:27] KeizerDev commented on #34
@CytoDev lol +1

[2016-01-08 13:34] jariz commented on #34
Then like you said yourself, maybe exception handling should be improved overall.

[2016-01-08 13:34] #30 closed

[2016-01-08 13:35] #27 closed

[2016-01-08 13:37] GijsTimmers commented on #34
I'd be against it, for the same reasons @jariz is. Also, the 'testing team' on Github consists of four (five?) people. There may very well be bugs in the code that just don't show up on our devices. In other words, _n_ is too small.

[2016-01-08 15:07] GijsTimmers opened #36 "Can't scroll past 15th item in Toppers"
When I scroll to item 15 in _Nieuw_, DR automatically loads item 16-30. This does not happen in _Toppers_. Instead, an error message appears:

    Items ophalen mislukt.

[2016-01-09 19:35] CytoDev commented on #36
I get the error that the URL could not be parsed.

[2016-01-09 19:42] GijsTimmers commented on #36
That's possible. I'm still using the white-text-on-white-background version.

[2016-01-10 12:06] CytoDev commented on #33
I would say the `comment.content` needs to be scanned for @ references that link to the `comment.author` of another comment. The scroll position could be easily found if it is already cached in the RecyclerView. However, if said user is an active commenter with multiple comments on the same item it might become a somewhat harder issue since we don't know what comment it links to.

To give you an i

[2016-01-10 12:07] CytoDev commented on #36
Fixed in newNavDrawer branch. Needed an extra slash after the fetching url.

[2016-01-10 12:08] CytoDev commented on #34
Closing issue and opting to have better error catching.

[2016-01-10 12:08] #34 closed

[2016-01-10 12:10] CytoDev commented on #29
@jariz on the video activity, or just the general itemView layout? Images will have the same issue as described above, while audio might be small enough to not bother anyone to tears.

[2016-01-10 13:11] CytoDev commented on #26
As of [#6ba2bab](https://github.com/jariz/Dumpert/commit/6ba2bab431e0a6f4d6bf3c9cab461fb8706e3824) links will be parsed correctly and move to the right page in the domain. Catching pages from Dumpert to the application is something I am hesitant about since that would infringe more on Geenstijl's rights.

[2016-01-11 13:06] CytoDev opened #38 "[HELP WANTED] Voting on items"
Does anyone know how to get the entry id of a comment? I've got a few things mapped out, but I need some extra information before I'm able to implement voting.

### Votes on items go along this path:
`d` = the first sequence after `mediabase/`
`c` = the second sequence.
(Effectively mirroring the mediabase url)
upvotes for items are sent here: `/rating/" + d + "/" + c + "/up`
downvotes for items a

[2016-01-11 14:07] CytoDev commented on #38
Closing, already fixed it.

[2016-01-11 14:28] CytoDev commented on #38
Reopening because voting on items results in an image of a t-shirt...

[2016-01-11 19:56] GijsTimmers commented on #26
So links from Dumpert to Dumpert work?

[2016-01-12 06:25] CytoDev commented on #26
They open in the browser, yes. The issue is that links are opened the way they are displayed. This means that if a comment reads "blah dumpert.nl... blah" they would link to the top domain, and not to whatever the actual anchor tag links to. It was resolved by parsing the anchor tag as html and putting that in the TextView. However, since I implemented the clicking on comments to vote/reply the fu

[2016-01-12 07:24] GijsTimmers commented on #26
OK, sounds appealing!

[2016-01-12 07:55] CytoDev commented on #26
It didn't break when I implemented the clicking on items to expand the interaction layout, it seems to have been broken by adding `android:autoLink="web"` to the TextView. I fixed it by setting the linking to `none`. Links are parsed as HTML anyway.

[2016-01-12 12:16] CytoDev commented on #35
### Voting on items and comments
Voting on comments has been implemented, but could be done better (like catching a server response and updating the number based on that). Voting on items seems to link me to [this page](https://www.zazzle.com/rlv/i_am_gay_t_tshirt-p2357526868521500423yuv_400.jpg) instead of something useful (Thanks ~~Obama~~ Joris!).

See [#8cbf8fc](https://github.com/jariz/Dumper

[2016-01-12 12:17] CytoDev commented on #38
Moved to #35.

[2016-01-12 12:17] #38 closed

[2016-01-12 13:57] KeizerDev commented on #35
Why not make an option for copying the whole comment on longpress and just simply past it in the comment field. Or just give an option replay and just auto-past everything in the comment field. I prefer the selecting thing rather than `@ mention`

[2016-01-13 09:06] CytoDev commented on #35
@KeizerDev I opted to use the copy paste way of replying. Should we allow users to select their preference or just force them to do it like this? They can just delete it and type the `@ mention` if they really want to either way.

[2016-01-13 09:09] CytoDev commented on #35
@jariz @KeizerDev @gewoonrik Created [voting branch](https://github.com/jariz/Dumpert/tree/voting). Better nate than lever.

[2016-01-13 09:12] KeizerDev commented on #35
@CytoDev No, force them to do it this way. Like you said, they can just ignore our way and use the `@`

[2016-01-13 09:27] CytoDev commented on #35
@KeizerDev Less work for us hahah :smile:

[2016-01-13 09:49] KeizerDev commented on #35
@CytoDev That's also true :smiley:

[2016-01-13 10:18] #36 closed

[2016-01-13 10:19] jariz opened #40 "Travis CI"
Adding Travis CI would notify us of build failures on master, and will warn you if a PR won't build sucesssfully, I've implemented it before on [jariz/MaterialUp](https://github.com/jariz/MaterialUp) so probably will do this myself.

[2016-01-13 10:21] jariz commented on #11
Settled on 'Dump for Dumpert.nl' (playstore title) and 'Dump' (app title) for now. Unless someone has a better idea, I'll stick with this for now.

[2016-01-13 10:27] #29 closed

[2016-01-13 10:38] CytoDev commented on #11
Aangezien ik nog geen suggestie had geplaatst over de naam. Bij deze: "De reaguur-app". Vreeslijke naam, maar het klopt op zich wel nu er ook mee gereaguurd(?) kan worden. Vraag me echter wel af of het "werkwoord" reaguren gecopytrademarked is door Dumpert/Geenstijl...

[2016-01-13 10:56] jariz commented on #26
@CytoDev we're a 'for Dumpert.nl' app, we should open Dumpert.nl links.
Couldn't care less about GeenStijl, as long as the project stays legal (aka them having no grounds to sue me, lol.)

[2016-01-13 10:56] GijsTimmers opened #43 "Latest build crashes"
Running 349952a8e5653092e2845fe3d05d15d6d35e2f28.

[Log](http://paste.ubuntu.com/14486118/)

[2016-01-13 11:00] CytoDev commented on #43
I'm on it

[2016-01-13 11:00] jariz commented on #43
What version of android are you on again?

[2016-01-13 11:01] GijsTimmers commented on #43
Kitkat, 4.4.2

[2016-01-13 11:05] CytoDev commented on #43
debug or release variant?

[2016-01-13 11:06] GijsTimmers commented on #43
I just `git pull`ed it. I'm on the master branch.

[2016-01-13 11:08] CytoDev commented on #43
Yeah, but the gradle now has two build variants. I don't know what your configured default is. Some older gradle plugins have issues with the `android.support.v7.widget.LinearLayoutManager` class that is used by the NavigationView

[2016-01-13 11:12] CytoDev commented on #26
In that case we will need to parse the media base URLs. I believe this is unsupported at this time. Will look into it when #43 is resolved.

[2016-01-13 11:12] GijsTimmers commented on #43
Gradle 2.8, I believe. How to check?

[2016-01-13 11:14] CytoDev commented on #43
In Android-Studio it automatically applies from the build.gradle file. I'm unsure how other IDEs handle it. Assuming you're using Android-Studio and using the correct build variant, I think I've located the issue. I'll test it around on 4.4.2

Care to share your AVD config of the device?

[2016-01-13 11:19] GijsTimmers commented on #43
Sure, how can I do that?

[2016-01-13 11:22] CytoDev commented on #43
You need to clean your project so all resources are rebuilt. Seems the easiest fix. If that doesn't work, something went wrong with including the ripple file, and I'll get to the bottom of it.

[2016-01-13 11:26] GijsTimmers commented on #43
Cleaning the project, then running doesn't work.

[2016-01-13 11:38] CytoDev commented on #43
That's strange... Can you verify that you have `login_ripple.xml` inside your drawable folder and if `res/layout/navigation_login.xml` doesn't give any errors?

[2016-01-13 11:49] GijsTimmers commented on #43
Sure:

[code]

What do you mean by:

[2016-01-13 12:07] CytoDev commented on #43
You would want to open the layout in an IDE that checks the xml based on the android version you choose.
Some screenshots because why not:
<img src="https://cloud.githubusercontent.com/assets/5646869/12293821/5c915a66-b9f6-11e5-9821-216ac8fc6ab3.png" width="33%" /><img src="https://cloud.githubusercontent.com/assets/5646869/12293822/5c92b5f0-b9f6-11e5-91da-3a41dd77ac40.png" width="33%" /><img src=

[2016-01-13 12:47] KeizerDev commented on #43
As I see you like using your cli?
Run:
[code]
And post the output of that @GijsTimmers

[2016-01-13 12:49] GijsTimmers commented on #43
Sure, I will do that ASAP. I don't have my laptop with me at the moment so
it'll take me an hour or so.

Op wo 13 jan. 2016 13:47 schreef Robert-Jan Keizer <notifications@github.com

[2016-01-13 13:00] CytoDev commented on #43
@KeizerDev I'm writing that one down. Nifty!

[2016-01-13 13:18] #26 closed

[2016-01-13 13:31] KeizerDev commented on #43
@CytoDev
[code]
:wink:

[2016-01-13 13:34] KeizerDev commented on #11
@CytoDev `Reaguurders-app` zie ik dan meer zitten.

[2016-01-13 13:36] jariz commented on #11
Ik vindt reaguurders-app vreselijk 😶

[2016-01-13 13:36] CytoDev commented on #43
[The more you know...](https://media.giphy.com/media/wiQ9N7iMkMH2o/giphy.gif)

[2016-01-13 13:37] CytoDev commented on #11
En daarom dat dit dus ook het label "discussion" heeft. :laughing:

[2016-01-13 14:16] GijsTimmers commented on #43
http://paste.ubuntu.com/14487185/

[2016-01-13 14:30] KeizerDev commented on #43
So? You can close this issue. :wink:

[2016-01-13 14:32] GijsTimmers commented on #43
Not really. I may have been unclear in the way I described the problem. The .apk installs fine. The problem is that I have a crash when opening Dumpert Reader.

[2016-01-13 14:33] KeizerDev commented on #43
The app is installed on your phone you just have to start it and you have the most updated function. The gradle tasks `installDebug` only installs it, you still have to start it manually. I just wanted to know what the error was, but there doesn't seems to be one

[2016-01-13 14:34] KeizerDev commented on #43
Ah, so your build tools are fine. We can conclude that. Can you show the output of `adb logcat` when firing the app.

[2016-01-13 14:42] GijsTimmers commented on #43
http://paste.ubuntu.com/14487357/

[2016-01-13 14:49] KeizerDev commented on #43
[code]

[2016-01-13 14:50] KeizerDev commented on #43
@CytoDev this is basically his error :wink:

[2016-01-13 14:51] CytoDev commented on #43
Same error a before. Login ripple not found.

[2016-01-13 14:51] KeizerDev commented on #43
`git reset --hard`

[2016-01-13 14:56] CytoDev commented on #43
You are not installing the full package is the only reason I can think of. Maybe reset the emulator completely? Remove and reinstall the app? Clear the dalvik cache (if it's a real phone)?

[2016-01-13 14:57] GijsTimmers commented on #43
Tried that, didn't work. Same problem.

[2016-01-13 15:04] GijsTimmers commented on #43
I now stopped the app, removed its data. Then I removed the app. Rebooted into custom recovery, cleared Dalvik cache. Rebooted. Reinstalled via `./gradlew installDebug`. Problem still happening.

[2016-01-13 15:11] CytoDev commented on #43
I'm taking my last guess by blaming `?colorAccent`. It should work even on older versions since it's defined in the theme, but then again knowing Android it might not be pointing at it correctly because the API is lower. Try changing the line containing `?colorAccent` in login_ripple.xml to see if my guess is right.

[2016-01-13 15:17] GijsTimmers commented on #43
Change it in what? I have little experience with Java. Just comment it out?

[2016-01-13 15:19] CytoDev commented on #43
I'll make a branch. Hold on tight.

[2016-01-13 15:22] CytoDev commented on #43
@GijsTimmers You can go ahead and test [this branch](https://github.com/jariz/Dumpert/tree/testBranch43).

[2016-01-13 15:29] GijsTimmers commented on #43
That fixed it.

[2016-01-13 15:32] CytoDev commented on #43
Cool. I'll go ahead and update the ripple accordingly. Mind to test the next commit on that branch?

[2016-01-13 15:34] GijsTimmers commented on #43
Sure, go ahead. Also, there's this white block thing going on. Not sure if it's supposed to be like that.
![screenshot_2016-01-13-16-33-15](https://cloud.githubusercontent.com/assets/972314/12298649/7e60a904-ba13-11e5-90b8-8b19f8cbc5d1.png)

[2016-01-13 15:35] CytoDev commented on #43
Yes, that's because I changed the color of the element to white. It'll update soon enough.

[2016-01-13 15:43] CytoDev commented on #43
@GijsTimmers can you test the last commit?

[2016-01-13 15:45] GijsTimmers commented on #43
Yes -- it works now. The white block is also gone, it's just <kbd>Inloggen</kbd> now. Looking good!

[2016-01-13 15:46] CytoDev commented on #43
Cool!

[2016-01-13 15:57] CytoDev commented on #43
Resolved by #47.

[2016-01-13 15:57] #43 closed

[2016-01-13 16:09] CytoDev commented on #33
I'm tempted to close this as impossible. The very nature of a RecyclerView makes it impossible to know what items are out of view, and multiple comments by the same user would only make it harder...

@jariz, thoughts?

[2016-01-13 16:14] jariz commented on #33
How so? We know the index of the comment we're searching for, so all that's left is making the RV scroll to said comment.
[code]

[2016-01-13 16:18] CytoDev commented on #33
Most recent from where, current scroll position? Even so, how would you go about filtering `@ mentions` from regular content?

[2016-01-13 16:30] jariz commented on #33
Didn't think about that, but then again, I don't really think this issue is worth all this trouble either way, as it's something the real dumpert site itself doesn't even have.

[2016-01-13 16:57] GijsTimmers opened #48 "Crash on pressing the back button in settings"
[Log](http://paste.ubuntu.com/14488419/)

[2016-01-13 17:02] CytoDev commented on #48
Crash at line 4524. Could you pipe it to grep "Exception" next time, please?

[2016-01-13 17:04] CytoDev commented on #48
onCreate() line 63 has a nullpointer on returning from the settings. Will look into it when I'm home.

[2016-01-13 17:33] CytoDev commented on #48
Try it with [this branch](https://github.com/jariz/Dumpert/tree/patch-48).

[2016-01-13 17:52] GijsTimmers commented on #48
Thank you, that seems to fix it. Minor issue left: when pressing the back button, I get back to _New_. It would be nice if DR would remember on which page I was and return accordingly.

[2016-01-13 17:54] jariz commented on #48
It would be even nicer even settings were opened in a fragment rather than a activity imo.

[2016-01-13 17:55] #11 closed

[2016-01-13 18:11] CytoDev commented on #48
@jariz read the code. It is a fragment. It needs an activity to apply the toolbar.
@GijsTimmers You cannot be returned to the page you where on since the activity needs to be restarted in case the theme changed.

[2016-01-13 18:35] KeizerDev commented on #11
@jariz door het sluiten van dit issue neem ik aan dat er is gekozen voor "De reaguur-app"?

[2016-01-13 18:44] jariz commented on #11
Ik wou niet de project owner card pullen maar umm yea, `Dump` vind ik toch het minst ergst vrees ik.

[2016-01-13 19:37] #48 closed

[2016-01-15 09:41] CytoDev commented on #33
@jariz so... We close it? Put it in a backlog? Ignore every comment made on this thread in the future? Go and have a beer?

[2016-01-15 10:09] jariz commented on #33
Eh, close it.

[2016-01-15 10:09] #33 closed

[2016-01-15 10:10] jariz commented on #33
@CytoDev We need to set up a chat or something probably,  but in the meantime, how's the voting going? Think that's the last thing left, and I kind of want to relaunch it again.

[2016-01-15 11:11] CytoDev commented on #33
@jariz Voting is a tough cookie... I kind of stopped working on it for a while, to clear my mind.
You can read up on my findings in issue #35.

Chat, well... You can easily find my Skype and you already have my email address. You *could* add me on WhatsApp if you really wanted to, but that would have to be discussed elsewhere.

[2016-01-15 11:28] CytoDev commented on #35
# some additional info's:
## request headers when upvoting a comment
    Host: www.geenstijl.nl
    User-Agent: Mozilla/5.0 (X11; Debian_C0.1; Linux x86_64; rv:43.0) Gecko/20100101 Firefox/43.0
    Accept: */*
    Accept-Language: en-US,en;q=0.5
    Accept-Encoding: gzip, deflate
    DNT: 1
    Referer: http://www.dumpert.nl/mediabase/6711758/eac8f1aa/emma_belt_met_reaguurders.html
    Cookie: __c

[2016-01-15 13:36] jariz commented on #35
Voting removed for now (#54), will be fixed in seperate voting branch later.
@CytoDev Yes, zal er binnenkort even naar kijken, thanks.

[2016-01-15 13:38] CytoDev commented on #35
[for quick reference](https://github.com/jariz/Dumpert/blob/voting/Dumpert/src/main/java/io/jari/dumpert/api/API.java#L475-L506)

[2016-01-15 14:17] jariz opened #55 "Release version crashing, debug version isn't."
Amazing.
Debug version works fine in my emulator, [release version](https://github.com/jariz/Dumpert/releases/download/1.2.0/Dumpert-release.apk) crashes on my phone.
Play version update blocked until this is fixed. :pensive:

[2016-01-15 14:47] CytoDev commented on #55
Stacktrace would be nice...

[2016-01-15 14:49] jariz commented on #55
Wasn't able to else I would've posted it. But just got it to crash on my emulator
[code]

[2016-01-15 14:52] CytoDev commented on #55
and the proguard map would be nice too...

[2016-01-15 14:58] jariz commented on #55
Disabling proguard fixes it (?)
I don't know what that is, never used it before. (not sure who turned it on but they clearly didn't test it all that well)
I'll rename this issue and upload the non-proguard version to play for now.

[2016-01-15 15:14] CytoDev commented on #55
@jariz, I enabled it. You need to set up exception rules for certain classes.

[2016-01-17 19:16] CytoDev commented on #55
@jariz, tried my proposed fix yet? Also, there are a few grammatical errors in the bugfix text on play. (Plus some outdated screenshots)

[2016-01-17 19:17] jariz commented on #55
Tablet pics still need to be updated, yes.
Haven't gotten around to it yet, will probably look at it tomorrow.

[2016-01-17 19:24] jariz opened #56 "Attempt to invoke virtual method 'android.content.res.Resources android.view.View.getResources()' on a null object reference [reported error from Play]"
Android: 6.0
Device: Moto X Style (clark)
Application version: latest (1.2.0)
[code]
[Link to line that causes crash](https://github.com/jariz/Dumpert/blob/81b8fc66406f74fa6ab8bbe0a59262e88c70a5b4/Dumpert/src/main/java/io/jari/dumpert/activities/VideoActivity.java#L156)

[2016-01-17 19:56] CytoDev commented on #56
His activity went away as far as I can see. There's little you can do against the garbageman...

[2016-01-17 21:06] CytoDev commented on #56
You _can_ query for nullpointers and restore behaviour by reinstating the views, but that would take a lot of trial and error. Your best bet is to let this one slide as a one off, and fix it when you absolutely have to.

[2016-01-17 21:34] jariz commented on #56
I figured something like that, just thought I'd post it here because wasn't 100% sure what it meant. Thanks.

[2016-01-17 21:34] #56 closed

[2016-01-17 21:45] jariz opened #57 "Chromecast support"
Something that might be fun and useful to add for videos. Has been requested on play store, but is something I'd like to see myself as well.

[2016-01-17 21:48] jariz opened #58 "Being able to swipe away a ItemActivity"
Wheter it'd be [something youtube-ish](https://github.com/pedrovgs/DraggablePanel), or just [something simple](https://github.com/klinker41/android-slidingactivity), doesn't really matter. (maybe only youtube idea for videos, and the simple idea for other types of media?)

[2016-01-17 21:56] KeizerDev commented on #57
We can just follow this guide. https://developers.google.com/cast/docs/android_sender#media-channel (If you scroll down a bit you see a mp4 example). We can just use that instead of spending money on an custom made chromecast app.

[2016-01-17 23:44] jariz commented on #57
I don't think the 'real' dumpert app has real chromecast support, as it's just WebView's <video> element (which has build in chromecast support).
Keep in mind the 'real app' (kind of ironic) isn't a app in the slightest, it's just a webbrowser that opens up the mobile site, which is the whole reason I made this app in the first place, lol.

But yea, it shouldn't be too hard to add it, just needs t

[2016-01-18 06:33] CytoDev commented on #58
I am already on it locally. Needs some working around here and there because we're extending the BaseActivity for the themes.

[2016-01-18 06:34] CytoDev commented on #57
@jariz, I have no way to test chromecast, so it will just be guessing from my side. Does any of us here have a way of testing it?

[2016-01-18 06:57] CytoDev commented on #58
@jariz [It does not work all that great...](https://github.com/jariz/Dumpert/tree/swipeTheItemsAway) So we need to take a look at how it's done, and reinvent the wheel (I think?). Or at least purchase some snow tires :laughing:

[2016-01-18 07:12] CytoDev commented on #55
@jariz, the possibility exists that your `proguard-android.txt` file has some missing lines compared to mine. (this file can be found in `yourSDK/tools/proguard/` folder).

I'll just paste mine over here for quick reference.

    # This is a configuration file for ProGuard.
    # http://proguard.sourceforge.net/index.html#manual/usage.html

    -dontusemixedcaseclassnames
    -dontskipnonpubliclib

[2016-01-18 15:24] jariz commented on #57
I have one. :smile:

[2016-01-18 15:31] jariz commented on #58
RIP transitions :cry:
Besides the transitions and the controls messing up, it's really well done though.

[2016-01-18 15:33] CytoDev commented on #58
workarounds for the transitions are not top priority.

[2016-01-19 14:30] jariz opened #60 "'Only autoplay videos on WiFi' setting"
Title speaks for itself.

[2016-01-19 14:31] jariz opened #61 "Rename repo to Dump"

[2016-01-19 15:05] KeizerDev commented on #61
No, don't do that, just put it in the description.

[2016-01-19 15:07] KeizerDev opened #62 "Official dumpert app recreated from scratch"
![screenshot_2016-01-19-16-04-36](https://cloud.githubusercontent.com/assets/4026917/12422311/9dfe92d2-bec6-11e5-8867-bf65ed247d6c.png)
![screenshot_2016-01-19-16-04-21](https://cloud.githubusercontent.com/assets/4026917/12422331/c2528e86-bec6-11e5-9d15-00cad3b0ede7.png)

[2016-01-19 15:11] jariz commented on #62
Yes, was aware they were working on this. Congrats to them. Ours will stay online as an open source alternative.
Maybe it uses a real API which we could reverse engineer so we can finally ditch scraping? :stuck_out_tongue:
Can anyone try to figure that out?

also

hahah
@CytoDev apply for a job :stuck_out_tongue:

[2016-01-19 15:15] CytoDev commented on #62
Whahahahah commenting was the easy part! XD

[2016-01-19 15:19] CytoDev commented on #62
@jariz I'll take a look at reverse engineering it later this week. Got some tools lying around for just that. ;)

[2016-01-19 15:37] KeizerDev commented on #62
@CytoDev Me too! I can do it tonight if you want :wink:

[2016-01-19 15:59] jariz commented on #62
Friend of mine quickly took a look and I can confirm that *it uses a real API!*, all programmers rejoice! :tada:

![](https://i.imgur.com/pCGdmvf.png)

[2016-01-19 16:30] KeizerDev commented on #62
@jariz Wow, good catch! I will look into it a bit further now. Maybe I can see some more interesting stuff!

[2016-01-19 16:33] KeizerDev commented on #62
`http://dumpcomments.geenstijl.nl/api/{items.id}`

[2016-01-19 16:35] KeizerDev commented on #62
Thank god, they use retrofit.
[code]

[2016-01-19 16:38] KeizerDev commented on #62
I have some experience with retrofit, so if there are any questions about the parameters(I don't think so) I can help.

[2016-01-19 16:42] CytoDev commented on #62
We already knew the whole dumpcomments thing didn't we?

[2016-01-19 16:43] CytoDev commented on #60
Would require a rewrite of ViewItemActivity (or ViewItemFragment, depending on branch) since the click action registers as a web intent.

[2016-01-19 16:46] KeizerDev commented on #62
I wasn't aware of that. But yeah, I just posted the stuff I founded

[2016-01-19 21:03] jariz commented on #60
How so? I'm talking about automatically playing a video which is something we already have a setting for ("Play videos automatically" in data settings), it just disables it across the application entirely.
All that needs to be done is have that same behavior but only if you're on WiFi.

[2016-01-20 08:04] CytoDev commented on #60
Yes, auto-play is built in. But try to disable that preference and open a video. You will be linked to the video in a web intent instead of the video player starting. At least on all builds I tested.

[2016-01-20 08:33] jariz commented on #60
I agree that it would be better that rather than a web intent, it uses the build in player like it does when autoplay is disabled, but that's an issue for another ticket for now.

[2016-01-20 08:41] GijsTimmers commented on #61
I do like it.

[2016-01-20 08:42] KeizerDev commented on #61
@GijsTimmers Why? If someone search for it on gh it is harder to find the repo?

[2016-01-20 08:45] GijsTimmers commented on #61
Right now, the repo name is different from the app name. I may be the only one but that inconsistency bothers me a little bit.

[2016-01-20 08:46] KeizerDev commented on #61
Than call it "Dump for Dumpert"

[2016-01-20 08:47] GijsTimmers opened #63 "Some kind of visual feedback upon upvoting/downvoting"
Currently, when you upvote or downvote a comment, there's no way to confirm that you pressed the button correctly apart from looking at the kudo digit.

Proposal: give the upvote/downvote buttons a green/red hue after pressing them.

[2016-01-20 08:48] GijsTimmers commented on #61
Yes, I'm fine with that

[2016-01-20 08:57] CytoDev commented on #63
Proposal accepted, but the first priority is actually making it work. :laughing:

[2016-01-20 09:01] KeizerDev commented on #63
@CytoDev easy,
http://www.dumpert.nl/mobile_api/json/rating/6713315_892c4833/down
http://www.dumpert.nl/mobile_api/json/rating/6713315_892c4833/up

-------
You got even errors:
http://www.dumpert.nl/mobile_api/json/rating/6713315_892c4833/dOwN
http://www.dumpert.nl/mobile_api/json/rating/6713315_892c4833/UP

[2016-01-20 09:05] CytoDev commented on #63
I did not follow the development this week. Can probably update everything over the weekend, but then again, you can implement this as well. [https://github.com/jariz/Dumpert/tree/voting](https://github.com/jariz/Dumpert/tree/voting)

[2016-01-20 09:05] jariz commented on #63
Go for it @KeizerDev ! :smile:

[2016-01-20 09:06] KeizerDev commented on #63
LOLOLOLOL. Keep reloading the page and check out the views. http://www.dumpert.nl/mobile_api/json/info/6713313_f0cfec65

[2016-01-20 09:06] KeizerDev commented on #63
Ohoh stupid dumpert.

[2016-01-20 09:06] KeizerDev commented on #63
@jariz I will take a look at it :+1:

[2016-01-20 09:08] jariz commented on #63
Wanna know something even worse? (props to a friend that found this)
You can basically mass downvote/upvote anything with this new vote API.

Take this link for example: http://dumpcomments.geenstijl.nl/api/ratecomment/6712980_142d1bc1/c3/down
The 'c3' part is your session (sorta), all you need to do is increment that and you can vote again. Prutsers.

[2016-01-20 09:11] CytoDev commented on #63
@KeizerDev @jariz HAHAHAHAHAH Yeah, this is downright hilarious... They just opened a door... Not a good door, but they did open a door. Props to them for thinking it was solid and allowing us to take advantage of it.

[2016-01-20 10:25] KeizerDev opened #64 "Project clean up"
With the new API we should to a project clean up and get rid of jsoup and use libraries like [Retrofit](http://square.github.io/retrofit/) instead

[2016-01-20 10:27] jariz commented on #64
Gonna rename your ticket because obviously we'll clean it up once we integrate the new API.

[2016-01-20 10:27] KeizerDev commented on #64
Lol, thanks :smile:

[2016-01-20 10:31] jariz commented on #62
Gonna close this issue now because #64 has sprouted from this discussion.

[2016-01-20 10:31] #62 closed

[2016-01-20 10:35] KeizerDev commented on #64
I wait for @CytoDev to merge all his branches so I/we can start with it.
Ps. I'm pretty sure we still need jsoup for the login part.

[2016-01-20 10:38] jariz commented on #64
@KeizerDev Good point. Afraid we indeed won't be able to ditch jsoup completely, but wherever possible retrofit should be used.

[2016-01-20 10:39] jariz commented on #61
I think DumpForDumpert is too long and sounds stupid. Think I'll just keep the current name for now because of above mentioned reasons.

[2016-01-20 11:02] CytoDev commented on #64
@KeizerDev Login.java does not use any third party libs. I like to minimise libs in code I write for a good reason. As for merging everything... Yeah need some help on two of those branches.

@jariz jsoup is __only__ used in API.java, and it is easily swappable with standard httprequests. You won't even be needing libraries for most of the methods.

[2016-01-20 23:24] KeizerDev commented on #61
Can be closed.

[2016-01-20 23:44] #61 closed

[2016-01-21 19:55] jariz opened #65 "Bye, Dump."
I got an email from GS asking me to take it down again.
I was hoping they would be OK with it after the changes I made with the rebrand, but alas.
After giving it some thought, the app will never be able to adhere to the guidelines (which state I can't use any trademarks whatsoever, and neither am I allowed to use third party services without the owner's permission), and as long as GeenStijl doesn

[2016-01-22 06:29] CytoDev commented on #65
You __could__ push one last update... Something along the lines of a small AlertDialog telling the users the app is discontinued/removed from the play store with a link to the releases on GitHub.

Such a shame GeenStijl has no style when it comes to things like this...